.inicio {
    background-color: gray;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/e-commerce-gibra.firebasestorage.app/o/prueba2.png?alt=media&token=792c7de5-5d74-4078-9fe8-1a23486ccc37");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marca-grande {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.6s ease, transform 0.6s ease;
    transform: translateY(0);
    color: white;
}

.oculto {
    opacity: 0;
    transform: translateY(-100px) scale(0.5);
    pointer-events: none;
}

/* Ya no usas background-image en hero */
.hero {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    margin-left: 20px;
    margin-right: 20px;
}

.hero-content h1 {
    font-size: 2.5rem;
    color: black;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0a1927;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover {
    color: white;
    background-color: #08121c;
}

@media (max-width: 768px) {
    .marca-grande {
        font-size: 50px;
        padding: 80px;
    }

    .inicio {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/e-commerce-gibra.firebasestorage.app/o/prueba.png?alt=media&token=1e2633c3-5214-4be8-9cd0-e4b58885636c");
    }
}


